<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3308/pttk</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="hoangdh.dev.pttk_implement.model.Doctor"/>
        <mapping class="hoangdh.dev.pttk_implement.model.Manager"/>
        <mapping class="hoangdh.dev.pttk_implement.model.Member"/>
        <mapping class="hoangdh.dev.pttk_implement.model.RegisteredShift"/>
        <mapping class="hoangdh.dev.pttk_implement.model.Shift"/>
        <mapping class="hoangdh.dev.pttk_implement.model.WorkingShift"/>
        <mapping class="hoangdh.dev.pttk_implement.model.Room"/>
        <mapping class="hoangdh.dev.pttk_implement.model.Patient"/>
        <mapping class="hoangdh.dev.pttk_implement.model.Prescription"/>
        <mapping class="hoangdh.dev.pttk_implement.model.RecordedShift"/>
        <mapping class="hoangdh.dev.pttk_implement.model.TestCategory"/>
        <mapping class="hoangdh.dev.pttk_implement.model.TestResult"/>
        <mapping class="hoangdh.dev.pttk_implement.model.PatientProfile"/>
        <mapping class="hoangdh.dev.pttk_implement.model.SalarySlip"/>

    </session-factory>
</hibernate-configuration>